// Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700');
// Variables
@import "variables";
// Padding and Margins
@import "pad_vars";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* media query sizes based on bootstrap */
$mediaXsMin: 480px;
$mediaXsMax: 767px;
$mediaSmMin: 768px;
$mediaSmMax: 991px;
$mediaMdMin: 992px;
$mediaMdMax: 1199px;
$mediaLgMin: 1200px;



.panel-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: $mediaSmMax) {
    .panel-heading {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: $mediaMdMax) {
    #add-task-date-picker {
        font-size: 12px;
    }
    .form-control {
        padding: 5px;
        line-height: 1;
        height: inherit;
    }
}