// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$noPad: 0;
$xsPad: 3px;
$smPad: 6px;
$mdPad: 9px;
$lgPad: 18px;
$xlPad: 36pxß;

.p-t-0 {
    padding-top: $noPad;
}

.p-t-1 {
    padding-top: $xsPad;
}

.p-t-2 {
    padding-top: $smPad;
}

.p-t-3 {
    padding-top: $mdPad;
}

.p-t-4 {
    padding-top: $lgPad;
}

.p-t-5 {
    padding-top: $xlPad;
}

.p-b-0 {
    padding-bottom: $noPad;
}

.p-b-1 {
    padding-bottom: $xsPad;
}

.p-b-2 {
    padding-bottom: $smPad;
}

.p-b-3 {
    padding-bottom: $mdPad;
}

.p-b-4 {
    padding-bottom: $lgPad;
}

.p-b-5 {
    padding-bottom: $xlPad;
}

.p-l-0 {
    padding-left: $noPad;
}

.p-l-1 {
    padding-left: $xsPad;
}

.p-l-2 {
    padding-left: $smPad;
}

.p-l-3 {
    padding-left: $mdPad;
}

.p-l-4 {
    padding-left: $lgPad;
}

.p-l-5 {
    padding-left: $xlPad;
}

.p-r-0 {
    padding-right: $noPad;
}

.p-r-1 {
    padding-right: $xsPad;
}

.p-r-2 {
    padding-right: $smPad;
}

.p-r-3 {
    padding-right: $mdPad;
}

.p-r-4 {
    padding-right: $lgPad;
}

.p-r-5 {
    padding-right: $xlPad;
}

.m-t-0 {
    margin-top: $noPad;
}

.m-t-1 {
    margin-top: $xsPad;
}

.m-t-2 {
    margin-top: $smPad;
}

.m-t-3 {
    margin-top: $mdPad;
}

.m-t-4 {
    margin-top: $lgPad;
}

.m-t-5 {
    margin-top: $xlPad;
}

.m-b-0 {
    margin-bottom: $noPad;
}

.m-b-1 {
    margin-bottom: $xsPad;
}

.m-b-2 {
    margin-bottom: $smPad;
}

.m-b-3 {
    margin-bottom: $mdPad;
}

.m-b-4 {
    margin-bottom: $lgPad;
}

.m-b-5 {
    margin-bottom: $xlPad;
}

.m-l-0 {
    margin-left: $noPad;
}

.m-l-1 {
    margin-left: $xsPad;
}

.m-l-2 {
    margin-left: $smPad;
}

.m-l-3 {
    margin-left: $mdPad;
}

.m-l-4 {
    margin-left: $lgPad;
}

.m-l-5 {
    margin-left: $xlPad;
}

.m-r-0 {
    margin-right: $noPad;
}

.m-r-1 {
    margin-right: $xsPad;
}

.m-r-2 {
    margin-right: $smPad;
}

.m-r-3 {
    margin-right: $mdPad;
}

.m-r-4 {
    margin-right: $lgPad;
}

.m-r-5 {
    margin-right: $xlPad;
}